@import "vendors";

%button {
    font-family: inherit;
    font-size: .9rem;
    // text-transform: uppercase;
    // letter-spacing: .1em;
    // transform: scaleY(.91);
    padding: 10px 35px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: none;
    user-select: none;

    background: #DEDEDE;
    border-color: #DADADA;
    color: black;

    &:hover {
        background: #FFF;
        border-color: #CACACA;
    }

    &:active {
        background: #DFDFDF;
        border-color: #C0C0C0;
        box-shadow: inset 0 0 8px rgba(#888, .8);
    }

    &.--success {

        background: $nord14;
        color: $nord0;
        text-shadow: none;
        border-width: 0;
        box-shadow: 0 0 5px rgba(black, .2);

        &:hover {
            background: lighten($nord14, 5%);
        }
    
        &:active {
            background: darken($nord14, 15%);
            border-color: darken($nord14, 30%);
            box-shadow: inset 0 0 8px rgba($nord0, .4);
        }
    }

    &.--dark {

        background: $nord1;
        color: $nord6;
        border-width: 0;
        box-shadow: 0 0 8px rgba($nord0, .3),
            inset -1px 0 0 rgba($nord6, .1),
			inset 0 -1px 0 rgba($nord6, .05),
			inset 1px 0 0 rgba($nord6, .05),
			inset 0 1px 0 rgba($nord6, .05);

        &:hover {
            background: $nord2;
        }

    }
}

%input-label {
    color: black;
    font-size: .92rem;
    padding: 5px 0;
    margin: 5px 0;
    font-weight: 100;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

%input {
    background: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 3px;
    padding: 5px 15px;
    outline: none;
    font-size: .85rem;

    @include small-only {
        font-size: .9rem;
    }
}