@import "vendors";

%button {
    font-family: inherit;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    transform: scaleY(.91);
    padding: 10px 35px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    outline: none;
    user-select: none;

    background: #DEDEDE;
    border-color: #DADADA;
    color: black;

    &:hover {
        background: #FFF;
        border-color: #CACACA;
    }

    &:active {
        background: #DFDFDF;
        border-color: #C0C0C0;
        box-shadow: inset 0 0 8px rgba(#888, .8);
    }

    &.--success {
        color: white;
        text-shadow: 0 0 2px rgba(black, .8);
        background: darken($nord14, 10%);
        border-color: darken($nord14, 15%);

        &:hover {
            background: darken($nord14, 3%);
            border-color: darken($nord14, 10%);
        }
    
        &:active {
            background: darken($nord14, 13%);
            border-color: darken($nord14, 20%);
            box-shadow: inset 0 0 8px rgba(#555, .7);
        }

        @media (prefers-color-scheme: dark) {
            background: darken($nord14, 20%);
            border-color: darken($nord14, 25%);

            &:hover {
                background: darken($nord14, 13%);
                border-color: darken($nord14, 20%);
            }
        
            &:active {
                background: darken($nord14, 23%);
                border-color: darken($nord14, 30%);
                box-shadow: inset 0 0 8px rgba(#555, .7);
            }
        }
    }
}

%input-label {
    color: black;
    font-size: .92rem;
    padding: 5px 0;
    margin: 5px 0;
    font-weight: 100;

    @media (prefers-color-scheme: dark) {
        color: white;
    }
}

%input {
    background: #FAFAFA;
    border: 1px solid #DADADA;
    border-radius: 3px;
    padding: 5px 15px;
    outline: none;
    font-size: .85rem;

    @include small-only {
        font-size: .9rem;
    }
}