@import "~/styles/main";

.hero__component {

    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: #DADADA;
    overflow: hidden;
    
    height: 300px;
    padding: 20px;

    font-size: 2rem;
    font-weight: normal;

    color: #323232;

    @media(prefers-color-scheme: dark) {
        border-color: #444;
    }

    position: relative;
    canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        transform: scaleX(1.5) rotateZ(180deg) translateX(-5%);
        opacity: .8;
        filter: blur(5px);
        z-index: -1;
    }

    .__content {
        @include container;
        z-index: 1;
        color: white;

        .__title {
            font-size: 1.6rem;
            line-height: 120px;
            vertical-align: center;
        }
    
        .__subtitle {
            font-size: 1rem;
            line-height: 60px;
            vertical-align: center;

            @include medium-up {
                font-size: 1.2rem;
            }
        }
    }

}