@import "~/styles/main";

.hero__component {

    overflow: hidden;
    
    padding: 5px 20px;
    margin: 0 0 15px 0;

    font-weight: 100;

    color: #323232;

    border-color: $nord1;

    position: relative;
    canvas {
        position: absolute;
        top: 0;
        bottom: 0;
        transform: scaleX(1.5) rotateZ(180deg) translateX(-5%);
        opacity: .8;
        filter: blur(5px);
        z-index: -1;
    }

    .__overlay {
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
		background: linear-gradient(0deg, rgba(25, 28, 34, .0) 0%, rgba(25, 28, 34, 0.4) 90%, rgba(25, 28, 34, 0.5) 100%);
	}

    .__content {
        @include container;
        z-index: 1;
        color: white;

        .__title {
            font-size: 1.2rem;
            line-height: 80px;
            vertical-align: middle;
        }
    
        .__subtitle {
            font-size: .9rem;
            line-height: 30px;
            vertical-align: middle;

            @include medium-up {
                font-size: .9rem;
            }
        }
    }

}