@import "~/styles/main";

.info-header__component {
    @include container;
    padding: 20px 0;

    .__content {
        padding: 5px 25px;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        margin: 0 10px;

        font-size: 1rem;
        border-color: #D1D1D1;

        @media (prefers-color-scheme: dark) {
            background: #555;
            border-color: #5A5A5A;
            color: white;
        }

        p {
            &.--big {
                font-size: 1.2rem;
            }

            &.--small {
                font-size: .90rem;
            }
        }
    }
}