@import "~/styles/main";

.info-header__component {
    @include container;
    padding: 20px 0;

    .__content {
        padding: 5px 25px;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        margin: 0 10px;

        font-size: 1rem;
        border-color: #D1D1D1;

        @media (prefers-color-scheme: dark) {
            background: $nord2;
            // border-color: $nord0;
            border-width: 0;
            box-shadow: -1px 0 0 rgba(black, .1),
						0 -1px 0 rgba(black, .1),
						1px 0 0 rgba(black, .2),
						0 1px 0 rgba(black, .2);
            color: $nord6;
        }

        p {
            &.--big {
                font-size: 1.2rem;
            }

            &.--small {
                font-size: .90rem;
            }
        }
    }
}