@import "~/styles/main";

.log-box__component {
	
	padding: 10px;
	position: relative;
	
	.__content {
		@include container;
		color: #222;
		font-weight: normal;
		padding: 15px 0 20px 0;

		@media (prefers-color-scheme: dark) {
			color: #CCC;
			font-weight: 100;
		}

		.__message {
			padding: 10px 25px 10px 25px;
			font-family: 'Montserrat', monospace;
			font-size: .7rem;
			margin: 3px 15px;
			letter-spacing: .05em;

			&:last-child {
				background-color: #E0E0E0;
				border-radius: 3px;
				@media (prefers-color-scheme: dark) {
					background-color: $nord0;
					box-shadow: inset -1px 0 0 rgba($nord6, .3),
						inset 0 -1px 0 rgba($nord6, .2),
						inset 1px 0 0 rgba(black, .1),
						inset 0 1px 0 rgba(black, .1);
				}
			}
		}

		.__vertical-thumb {
			background-color: $nord0;
			box-shadow: inset -1px 0 0 rgba($nord6, .2),
				inset 0 -1px 0 rgba($nord6, .1),
				inset 1px 0 0 rgba(black, .1),
				inset 0 1px 0 rgba(black, .1);
			border-radius: 3px;
		}
	}

	.__overlay {
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		pointer-events: none;
		background: linear-gradient(0deg, rgba(25, 28, 34, .0) 0%, rgba(25, 28, 34, 0.4) 90%, rgba(25, 28, 34, 0.5) 100%);
	}
}