@import "~/styles/main";

body {
    background: $nord1;

    .app__component {
        

        .__background {
            position: fixed;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            background-color: $nord2;

            img {
                // height: 100vh;
                width: 100vw;
                transform: rotateZ(0deg) translateY(30%);
                position: absolute;
                left: 20px;
                bottom: 20px;
                opacity: .6;
                mix-blend-mode: multiply;
            }
        }
    }
}

